@import '../../variables.module';

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 20px;
  background-color: var(--color-blue-dark);
  color: var(--color-light);
}

.tasks {
  display: flex;
  align-items: center;
  column-gap: 36px;

  .task {
    margin: 0;
  }
}

.link {
  color: inherit;

  &:hover {
    color: var(--color-gray);
    transition: all 0.2s;
  }
}

@media screen and (max-width: 630px) {
  .footer {
    flex-direction: column;
    row-gap: 20px;
  }

  .tasks {
    column-gap: 15px;
  }
}

@media screen and (max-width: 330px) {
  .tasks {
    flex-direction: column;
    row-gap: 10px;
  }
}
